body{
    background-color: rgb(255, 240, 226);
    padding: 2rem;
}
h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(255, 240, 226);
    border: rgb(255, 224, 168) solid 1px;
    padding: 2px;
    margin-right: 500px;
    margin-left: 500px;
}
header{
    background-color: rgb(255, 242, 242);
    height: 75vh;
    border: black solid 1px;
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
}
nav{
    display: flex; flex-direction: row;
    justify-content: space-around;
}
@media (max-width: 480px) {
    header {
        margin-left: 10px;
        margin-right: 10px;
        height: 75vh;
    }
}
@media (max-width: 480px) {
    h2 {
       text-align: center;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       background-color: rgb(255, 240, 226);
       border: rgb(255, 224, 168) solid 1px;
       padding: 2px;
       margin-right: 50px;
       margin-left: 50px; 
    }
}
@media (max-width: 480px) {
  nav {
    display: flex; flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 480px) {
  #tamaño {
    width: 142px;
  }
}
@media (max-width: 480px) {
  #tamaño1 {
    width: 120px;
  }
}
