body{
    background-color: rgb(255, 247, 240);
}
nav{
    display: flex; flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(226, 224, 255);
    font-size: 25px;
}
div{
    padding: 2rem;
}
h1{
    background-color: rgb(255, 255, 255);
    padding: 3px;
    text-align: center;
}
article{
    border-style: ridge;
    margin-left: 160px;
    margin-right: 160px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex; flex-direction: row;
    justify-content: center;
    border-width: 5px;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 2px;
}
@media (max-width: 480px) {
  article {
    display: flex; flex-direction: column;
    justify-content: flex-start;
    border-style: ridge;
    margin-left: 2px;
    margin-right: 2px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
  }
}
@media (max-width: 480px) {
  #tamaño {
    width: 290px;
  }
}
@media (max-width: 480px) {
  #tamaño1 {
    width: 290px;
  }
}
@media (max-width: 480px) {
  nav {
    display: flex; flex-wrap: wrap;
    background-color: rgb(226, 224, 255);
    font-size: 20px;
  }
}
