body{
    background-color: rgb(255, 247, 240);
    text-align: center;
    padding: 7rem;
}
h1{
    border-style: solid;
    margin-right: 410px;
    margin-left: 410px;
}
.linea{
    border-top-style: solid;
    padding: 10px;
    margin-left: 520px;
    margin-right: 520px;
}
input{
    border-left-style: solid;
    border-right-style: solid;
    padding: 3px;
}
p{
    font-weight: bold;
}
@media (max-width: 480px) {
    body {
        padding: 3rem;
    }
}
@media (max-width: 480px) {
    h1 {
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media (max-width: 480px) {
    .linea {
        margin-left: 100px;
        margin-right: 100px;
    }
}